h1,h2,h3,p {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size 70px;
  font-weight: bold;
  color: white;
  background-color: dimgrey;
  background-image: url("C:\Users\mariela\Documents\Projects\broadway\resources\images\the-flatiron-building.png");
}

h2 {
  font-size: 32;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 15px;
}

a {
  color: white
}
.menu {
  font-size: 18px;
  color: white;
}

#header{
  background-color: dimgrey;
  background-image: url("..\images\the-flatiron-building.png");
}

#centered {
  text-align: center;
  font-size: 18px;
  color: white;
}

.picCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }

  #work {
    color: white;
    background-color: grey;
    background-image: url("..\images\the-flatiron-building.png");
  }

  .darkGrey {
    background-color: dimgrey;
    color: white;
    text-align: left;
    font-size: 11px;
  }
